<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info Selection</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
{% if error_val %}
    <h3 class="header" style="color:red;">Record with same name and age Exists</h3>
{% endif%}

<h2 class="header">Enter Information</h2>
    <form method="post" action ="{%url 'user_profiling:save' %}">
     {% csrf_token %}
        <div class="header"> <span>Name<sup>*</sup> </span> <input type="text" maxlength="100" name="name" required> </div> <br>
        <div class="header"> <span>Age<sup>*</sup> </span> <input type="number" min="20" name="age" required> </div> <br>
        <div class="header"> <span>Address<sup>*</sup> </span> <input type="text" maxlength="100" name="address" required> </div> <br>

        <div class="header">
            <span>Gender<sup>*</sup></span>
            <input type="radio" name="gender" value="Male" required> Male </input>
            <input type="radio" name="gender" value="Female"> Female </input>
            <input type="radio" name="gender" value="X"> X </input>
        </div><br>

        <div class="header"> <span>Experience<sup>*</sup> </span> <input type="number" min="0" name="experience" required> </div> <br>

        <div class="header"><input type="submit" value="Submit!"></div>
    </form>

</body>
</html>