<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Search</title>
   <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

{% if error_val %}
    <h3 class="header" style="color:red;">Invalid Record/Input</h3>
{% endif%}

<h2 class="header">Enter Information</h2>
    <form method="post" action="{% url 'user_profiling:searchReadOnly'%}">
     {% csrf_token %}
        <div class="header"> <span>Name </span> <input type="text" maxlength="100" name="name"> </div> <br>
        <div class="header"> <span>Age </span> <input type="number" min="20" name="age"> </div> <br>

        <div class="header"><input type="submit" value="Search!"></div>
    </form>
</body>
</html>